<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950400989208-lrri7ol3p03s0h4ends4tu4r5i7fnatl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950400989208-lrri7ol3p03s0h4ends4tu4r5i7fnatl</string>
	<key>API_KEY</key>
	<string>AIzaSyBUqHDJSdayKoo8Cy-685-wTMnzhPxscfw</string>
	<key>GCM_SENDER_ID</key>
	<string>950400989208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amcest.onetouchapp</string>
	<key>PROJECT_ID</key>
	<string>onetouch-b4abf</string>
	<key>STORAGE_BUCKET</key>
	<string>onetouch-b4abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950400989208:ios:32bc88b4f1ae636f50eb6d</string>
</dict>
</plist>